* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

main {
  overflow: hidden;
  width: 90%;
  margin: 3px auto;
}

div {
  overflow: hidden;
}

.contents-block {
  margin-top: 10px;
}

.button {
  margin-top: 3px;
  padding: 7px 0;

  width: 100%;
  text-align: center;
  display: block;
  cursor: pointer;
}

.padding-small-button {
  padding: 4px 0;
  margin-bottom: 10px;
}

button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

input[type="checkbox"] {
  color: var(--vscode-checkbox-foreground);
  background-color: var(--vscode-checkbox-background);
  border: var(--vscode-checkbox-border);
}

input[type="checkbox"]:checked {
  background-color: var(--vscode-checkbox-selectBorder);
}

.contents-title {
  font-size: 18px;
}

.inline {
  display: inline-block;
}

.margin-top {
  margin-top: 20px;
}

.info-buttons {
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
}

.contents-small-title {
  font-size: 14px;
}

.contents-controls {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.contents-controls button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  padding: 3px 7px;
}

.contents-controls select {
  color: var(--vscode-dropdown-foreground);
  background-color: var(--vscode-dropdown-background);
  padding: 3px 7px;
  width: 100%;
}

.contents-controls option {
  color: var(--vscode-dropdown-foreground);
  background-color: var(--vscode-dropdown-listBackground);
}

.caution {
  font-size: 8px;
}

.updete-component {
  margin: 16px 0;
}

.updete-component input,
.updete-component textarea {
  color: var(--vscode-sideBar-foreground);
  background-color: var(--vscode-sideBar-background);
  margin-bottom: 3px;
  border-bottom: solid 1px gray;
  overflow: auto;
}

.updete-component input {
  width: 100%;
}

.updete-component textarea {
  resize: none;
  width: 98%;
  height: 120px;
}

.list {
  margin: 5px auto;
}

.list i {
  margin-left: 0;
}

.list i::before {
  top: 2.5px;
  position: relative;
}

.list-upper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 5px;
}

.list input {
  color: var(--vscode-sideBar-foreground);
  background-color: var(--vscode-sideBar-background);
  margin-bottom: 3px;
  border-bottom: solid 1px gray;
}

.unified-font-size-18 {
  margin-bottom: 3px;
}

.unified-font-size-18 .contents-title {
  font-size: 18px;
}

.unified-font-size-18 i::before {
  top: 2px;
  position: relative;
  height: 18px;
}

.delete_final_confirmation {
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 45% 45%;
  gap: 5px;
}

.break-all {
  word-break: break-all;
}

.settings-panel {
  margin: 3px 0;
  width: 100%;
}

.settings-panel input {
  width: 100%;
}

.settings-panel strong {
  cursor: text;
  padding: 2px 4px;
}
