* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

main {
  overflow: hidden;
  width: 90%;
  margin: 3px auto;
}

.contents-block {
  margin-top: 10px;
}

.button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);

  margin-top: 3px;
  padding: 7px 0;

  width: 100%;
  text-align: center;
  display: block;
  cursor: pointer;
}

.padding-small-button {
  padding: 4px 0;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

input[type="checkbox"] {
  color: var(--vscode-checkbox-foreground);
  background-color: var(--vscode-checkbox-background);
  border: var(--vscode-checkbox-border);
}

input[type="checkbox"]:checked {
  background-color: var(--vscode-checkbox-selectBorder);
}

.contents-title {
  font-size: 18px;
}

.inline {
  display: inline-block;
}

.margin-top {
  margin-top: 20px;
}

.info-buttons {
  margin-left: 5px;
  cursor: pointer;
}

.contents-small-title {
  font-size: 14px;
}

.contents-controls {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.contents-controls button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  padding: 3px 7px;
}

.contents-controls select {
  color: var(--vscode-dropdown-foreground);
  background-color: var(--vscode-dropdown-background);
  padding: 3px 7px;
  width: 100%;
}

.contents-controls option {
  color: var(--vscode-dropdown-foreground);
  background-color: var(--vscode-dropdown-listBackground);
}
